
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: cadetblue;
}
h1{
  font-size: 40px;
  color: rgb(134, 0, 45);
}
a{
  text-decoration: none;
  font-size: 17px;
  height: 30px;
  padding: 7px;
  border: 1px solid;
  color: rgb(174, 26, 76);
}
.main{
  height: auto;
  width: 500px;
  background-color: cornsilk;
  border-radius: 10px;
  border: 1px solid transparent;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
  background-color: aliceblue;
}
th{
  padding: 5px;
  font-size: 22px;
  background-color: pink;
}
td{
  padding: 10px 10px;
}
input{
  height: 40px;
  width: 250px;
  border: 1px solid palevioletred;
  border-radius: 10px;
  padding: 7px;
  margin-top: 15px;
}
button{
  height: 40px;
  border: 1px solid palevioletred;
  font-weight: 700;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
}